/* Estilos do Header */

header .link-logo {

    display: block;
    padding: 20px 25px 10px;
    border-bottom: 2px solid #f25811

}

header nav ul {
    padding: 0;
    text-align: center;
    

}

header nav ul li {
    display: inline-block;

}

header nav ul li:not(:last-child) {
    margin-right: 15px;
}

.menu li a {

    color: orangered;
    text-decoration: none;
    
}

.menu li a:hover{

    color: purple;
    text-decoration: underline;
    
    
}

@media screen and (min-width: 992px) {
    header {
        position: relative;

    }

    .menu {
        position: absolute;
        right: 3%;
        top: 19%;
    }
    .imagem {
        width: 35%;
        padding: 0% 35%;
    }

    
    .cover-container {
        width: 30%;
        padding: 0% 10% 2%;
    }

    .rodape {
        padding: 44%;
    }

    .rodape1 {
        padding: 40%;
    }


    .title{
        margin: 2% 10%;

    }    
     .paragrafo,
     .cover-container{
        display: inline-block;

    }

    .paragrafo{
        margin: 0% 8%;
    }
 
}

