/* ESTILOS RELACIONADOS AO RODAPÉ */ 

footer {

    text-align: center;
    border-top: 1px solid orangered;
    padding: 20px;
    width: 75%;
    margin: auto;
    text-transform: lowercase;
}

footer section span:first-child{
    color: #f2116c;

}

footer section span:last-child{
    color: orangered;

}