/* Estilos da Página Index */ 




.cover-container figure img {

    width: 100%;
}


.title {

    color: purple;
}

.titulo {

    color: #f2116c;
} 

.titulo1 {

    color: purple;
} 

.paragrafo{
    text-align:justify;
    padding: 5%;

}

.section-video{

    text-align: center;
    
    }

          


tbody tr td  {

    padding: 5% 2%;
}

.tabela{

    padding: 0 20%;
}

@media screen and (min-width: 992px) {
    header {
        position: relative;

    }

    .menu {
        position: absolute;
        right: 3%;
        top: 11.5%;
    }

     .cover-container, 
     .section-video{
        display: inline-block;

    }

    .cover-container{
        margin: 2% 8%;
    }
    
.section-video video{

    width: 640px;; 
    height: 480px;
    
    }

    .section-video{
 
       padding: 1% 1.5%;
       margin-bottom: 2%; 
        }
                    
                   
}          
